.navbar{
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    /*margin-left: auto;
    padding-right: 20px;*/
}